@import '_content/QLTV.Web.Common/QLTV.Web.Common.bundle.scp.css';

/* _content/QLTV.Web.UserPortal/Component1.razor.rz.scp.css */
.my-component[b-gmvorp5jrk] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
